# Ignore node_modules directory
node_modules/

# Ignore .env files containing environment variables
.env

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore IDE specific files
.vscode/
.idea/

# Ignore compiled files
/dist/
/build/
*.exe
*.dll
